.formRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.gap-sm {
  gap: 8px;
}

.gap-md {
  gap: 12px;
}

.gap-lg {
  gap: 16px;
}

@media (max-width: 640px) {
  .formRow {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
